.custom-alert {
    --width: 90vw; /* Ancho del 90% de la pantalla */
    --max-width: 500px; /* Máximo 500px */
    --height: 70vh; /* Alto del 70% de la pantalla */
    font-size: 18px; /* Letra más grande */
  }
  
  .custom-alert .alert-wrapper {
    width: 90vw !important;
    max-width: 500px !important;
    height: 70vh !important;
  }
  
  .custom-alert .alert-input {
    font-size: 18px !important;
    padding: 10px !important;
  }
  