<ion-header style="padding-top: 35px;">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="agregarProducto()">Agregar Producto</ion-button>

  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-thumbnail slot="start">
        <img style="border-radius: 30px;" [src]="producto.imagen || './assets/noimage.jpg'" alt="{{ producto.nombre }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: {{ producto.precio | currency:'USD' }}</p>
      </ion-label>
      <ion-button fill="outline" (click)="editarProducto(producto)">Editar</ion-button>
      <ion-button color="danger" fill="outline" (click)="eliminarProducto(producto.id)">Eliminar</ion-button>
    </ion-item>    
  </ion-list>
</ion-content>
